.profile-page-wrapper {
    height: 100vh;
}

.profile-page-wrapper h2 {
    display: block;
    margin: auto;
    background-color: #988AB5;  
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    color: white;
    text-align: center;
}

.profile-page-wrapper hr {
    margin-top: 0;
    width: 95%;
    border: none;
    height: 1px;
    background-color: rgba(34, 34, 34, 0.445);
}

.goback-btn {
    margin: auto;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: white;
    height: 30px;
    width: 120px;
    text-align: center;
    font-size: 16px;
}

.goback-btn:hover {
    font-weight: 700;
}

.summary {
    display: block;
    margin: auto;
    margin-top: 20px;
    align-self: center;
    width: 70%;
    height: fit-content;
    max-height: 500px;
    background-color: rgb(61, 61, 61);
    outline: solid 1px rgba(0, 0, 0, 0.507);
    border-radius: 5px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.summary h3 {
    margin-left: 25px;
}

.summary p {
    margin-left: 25px;
    margin-right: 25px;
}

.summary p span {
    float: right;
}

.summary button {
    float: right;
    box-shadow: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #644aff;
    text-decoration: underline;
    font-weight: 400;
    padding: none;
    width: fit-content;
}

div .languages-list {
    margin-left: 35px;
}

.language-form {
    margin-left: 25px;
    margin-right: 25px;
}

.language-form input {
    width: 85%;
    padding: 10px;
    margin-left: 5%;
    border: rgba(112, 112, 112, 0.25);
    box-sizing: border-box;
    color: rgb(37, 37, 37);
}

.language-form .language-close-btn {
    float: right;
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    width: 10%;
}

.friends-list {
    display: block;
    margin: auto;
    margin-top: 20px;
    align-self: center;
    width: 70%;
    height: 50%;
    max-height: 300px;
    background-color: rgb(61, 61, 61);
    outline: solid 1px rgba(0, 0, 0, 0.507);
    border-radius: 5px;
    color: white;
}

.friend-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: auto;
}

.friend-header h3 {
    margin-left: 25px;
}

.add-btn {
    margin: auto;
    margin-right: 25px;
    box-shadow: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: white;
    outline: solid 1px rgba(0, 0, 0, 0.199);
    height: 30px;
    width: 120px;
}

.add-btn:hover {
    outline: solid 1px #644aff;
}

.friend-body {
    max-height: 70%;
    overflow: hidden;
    overflow-y: scroll;
}

@media screen and (max-width: 700px) {
  .summary,
  .friends-list {
      width: 95%;
  }

  .summary h3 {
    margin-top: 15px;
    margin-left: 15px;
    }

    .summary p {
        margin-left: 15px;
        margin-right: 15px;
    }
}