.bugID {
    text-align: left;
    margin-left: 10vh;
}

.bugName {
    text-align: center;
    /* margin-left: 50%; */
}

.bugStatus {
    text-align: right;
    margin-right: 10vh;
    width: 10%;
}