.bugs-wrapper {
  margin: 0;
  width: max-content;
  padding: 0;
  background-color: #535353;
  height: 100%;
  width: 100%;
  text-align: center;
}

.rptbtn {
  background-color: #2c2c2c;
  position: fixed;
  width: 150px;
  right: calc(50% - 200px);
  bottom: 2%;
  cursor: pointer;
  outline: none;
  border-radius: 0;
  /* padding: 15px 50px; */
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 16px;
  color: aliceblue;
  border: #2c2c2c;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
}

.back-btn {
  float: left;
  margin-left: 15px;
  margin-bottom: 15px;
  background-color: #535353;
  outline: none;
  border: none;
  border-radius: 0;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
}

.back-btn:hover {
  background-color: #696969;
}

h2.bugs-reported {
  width: 100%;
  text-align: center;
  display: inline-block;
}

.rptbtn:hover {
  background-color: #696969;
  border: #2c2c2c;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
}

.rpt {
  margin: 0 auto;
  width: 100px !important;
  outline: none;
  background-color: #2c2c2c;
  cursor: pointer;
  outline: none;
  border-radius: 0;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  color: aliceblue;
  border: #2c2c2c;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
}
.rpt:hover {
  background-color: #696969;
  border: #2c2c2c;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
}

.viewDetail {
  background-color: #535353;
  outline: none;
  border-radius: 0;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  width: 60%;
  margin-top: 25px;
  margin-left: 20%;
  margin-right: 20%;
}

/* .viewDetail:hover {
  background-color: #696969;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
} */

.viewShort {
  background-color: #646464;
  height: 75px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border: #2c2c2c;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  font-size: large;
  text-align: center;
}

.viewShort:hover {
  background-color: #818181;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

nav ul {
  height: 75vh;
  text-align: center;
}
nav ul {
  overflow: auto;
  overflow-y: auto;
}

.ul-styles {
  margin: 10px;
  padding: 0px;
  text-align: center;
}

.enter-name{
  width: 75%;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 7px;
  text-align: left;
  font-size: 15px;
  border-color: #2c2c2c;
}

.enter-description{
  width: 74%;
  height: 11vh;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  border-radius: 8px;
  border-width: 2px;
  border-color: #2c2c2c;
  text-align: left;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.enter-deadline{
  width: 75%;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
  border-width: 2px;
  border-color: #2c2c2c;
}

.enter-selection{
  width: 83%;
  height: 35px;
  border-radius: 6px;
  border-width: 2px;
  border-color: #2c2c2c;
  padding: 5px;
  font-size: 15px;
  max-height: 35px;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 1px;
  background: rgb(167, 167, 167);
}

::-webkit-scrollbar-thumb {
  background: #2c2c2c;
}

.footer-label {
  text-align: left;
  margin-left: 11%;
}

.rptfooter {
  text-align: center;
  padding: 15px;
  /* position: absolute; */
  /* bottom: 0; */
}

/* .detailfooter {
  width: 30%;
  text-align: center;
  padding: 5px;
  position: fixed; 
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, 25%);
  width: 90%;
} */

.mark-resolved{
  margin: 15px;
  background-color: #2c2c2c;
  cursor: pointer;
  outline: none;
  border-radius: 0;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  color: aliceblue;
  border: #2c2c2c;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
}

.mark-resolved:hover {
  background-color: #696969;
  border: #2c2c2c;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
}

.delete-bug{
  margin: 15px;
  background-color: #2c2c2c;
  cursor: pointer;
  outline: none;
  border-radius: 0;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  color: aliceblue;
  border: #2c2c2c;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
}

.delete-bug:hover {
  background-color: #696969;
  border: #2c2c2c;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
}


.rptrow::after {
  content: "";
  clear: both;
  display: table;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 37.5%; float: right; text-align: right; margin-right: 12.5%;}
  .col-s-2 {width: 35%; float: left; text-align: left; margin-left: 15%;}
  .col-s-3 {width: 40%; float: right; text-align: left; margin-left: 10%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  .col-s-0 {width: 37.5%; float: left; text-align: left; margin-left: 12.5%;}
  .detailsmall {text-align: left; height: 100vh; overflow-y: scroll;}
  .input-label{
    text-align: left;
    margin-left: 17%;
  }
  .detailfooter {
    width: 45%;
    height: 50%;
    text-align: center;
    padding: 1px;
    position: fixed; 
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, 25%);
    /* width: 90%; */
  }
  .rptbtn {
    background-color: #2c2c2c;
    position: fixed;
    width: 150px;
    right: calc(50vw - 75px);
    bottom: 2%;
    cursor: pointer;
    outline: none;
    border-radius: 0;
    /* padding: 15px 50px; */
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 16px;
    color: aliceblue;
    border: #2c2c2c;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
  }
  .rpt {
    position: relative;
    bottom: 10%;
    left: 0%;
    margin: 0 auto;
    width: 100px !important;
    outline: none;
    background-color: #2c2c2c;
    cursor: pointer;
    outline: none;
    border-radius: 0;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    color: aliceblue;
    border: #2c2c2c;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
  }
  .detaildes {text-align: left; height: 18vh; overflow: auto; overflow-y: auto; width: 44vw; margin-left: 10%;}
  .detailfooter {
    width: 55%;
    height: 50%;
    text-align: center;
    padding: 5px;
    position: fixed; 
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, 25%);
    /* width: 90%; */
  }
  .mark-resolved{
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #2c2c2c;
    cursor: pointer;
    outline: none;
    border-radius: 0;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    color: aliceblue;
    border: #2c2c2c;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
  }
  .delete-bug{
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #2c2c2c;
    cursor: pointer;
    outline: none;
    border-radius: 0;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    color: aliceblue;
    border: #2c2c2c;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 599px) {
  .detailsmall { width: 60%; text-align: left; margin-left: 20%; height: 20vh; overflow: auto; overflow-y: auto;}
  .viewDetail {
    background-color: #535353;
    outline: none;
    border-radius: 0;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    width: 90%;
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .detailfooter {
    height: 42%;
    width: 100%;
    text-align: center;
    padding: 1px;
    position: fixed; 
    bottom: 25vh;
    left: 50%;
    transform: translate(-50%, 25%);
    /* width: 90%; */
  }
  .mark-resolved{
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #2c2c2c;
    cursor: pointer;
    outline: none;
    border-radius: 0;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    color: aliceblue;
    border: #2c2c2c;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
  }
  .delete-bug{
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #2c2c2c;
    cursor: pointer;
    outline: none;
    border-radius: 0;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    color: aliceblue;
    border: #2c2c2c;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
  }
  .rpt {
    margin: 0 auto;
    position: fixed;
    bottom: 5.5%;
    left: 15%;
    width: 100px !important;
    height: 40px;
    outline: none;
    background-color: #2c2c2c;
    cursor: pointer;
    outline: none;
    border-radius: 0;
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
    color: aliceblue;
    border: #2c2c2c;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
  }
  .rptbtn {
    background-color: #2c2c2c;
    position: fixed;
    width: 150px;
    right: calc(50vw - 75px);
    bottom: 2%;
    cursor: pointer;
    outline: none;
    border-radius: 0;
    /* padding: 15px 50px; */
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 16px;
    color: aliceblue;
    border: #2c2c2c;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
  }
}
@media only screen and (min-width: 769px) {
  /* For desktop: */
  .col-1 {width: 37.5%; float: right; text-align: right; margin-right: 12.5%;}
  .col-2 {width: 25%; float: left; text-align: left; margin-left: 25%;}
  .col-3 {width: 40%; float: right; text-align: left; margin-left: 10%; margin-right: 0%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .col-0 {width: 37.5%; float: left; text-align: left; margin-left: 12.5%;}
  .input-label{
    text-align: left;
    margin-left: 17%;
  }
  .detaildes {text-align: left; height: 20vh; overflow: auto; overflow-y: auto;}
  .detailfooter {
    width: 55%;
    height: 39%;
    text-align: center;
    padding: 5px;
    position: fixed; 
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 25%);
    /* width: 90%; */
  }
  .mark-resolved{
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 10%;
    background-color: #2c2c2c;
    cursor: pointer;
    outline: none;
    border-radius: 0;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    color: aliceblue;
    border: #2c2c2c;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
  }
  .delete-bug{
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 20%;
    background-color: #2c2c2c;
    cursor: pointer;
    outline: none;
    border-radius: 0;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    color: aliceblue;
    border: #2c2c2c;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
  }
  .rpt {
    position: relative;
    bottom: 10%;
    left: 0%;
    margin: 0 auto;
    width: 100px !important;
    outline: none;
    background-color: #2c2c2c;
    cursor: pointer;
    outline: none;
    border-radius: 0;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    color: aliceblue;
    border: #2c2c2c;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
  }
  .rptbtn {
    background-color: #2c2c2c;
    position: fixed;
    width: 150px;
    right: calc(50vw - 200px);
    bottom: 2%;
    cursor: pointer;
    outline: none;
    border-radius: 0;
    /* padding: 15px 50px; */
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 16px;
    color: aliceblue;
    border: #2c2c2c;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
  }
}

.rd{
  color: #00cf8a;
}

.urd{
  color: rgb(255, 100, 100);
}