.navbar-wrapper {
  width: 300px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #2e2e2e;
}

.navbar-wrapper button {
  cursor: pointer;
}

.profile-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 20px;
  color: white;
  cursor: pointer;
}

.profile-wrapper:hover {
  background-color: #333333;
}

.profile-wrapper p {
  margin-top: 12px;
  margin-bottom: 12px;
  height: 100%;
  font-size: 20px;
}

.profile-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-links button {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 0;
  background-color: #2e2e2e;
  color: white;
  text-align: right;
  padding-right: 20px;
}

.main-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-links button {
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 0;
  background-color: #2e2e2e;
  color: white;
  text-align: left;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 600;
}

.profile-links button:hover {
  background-color: #333333;
}

.main-links button:hover {
  background-color: #333333;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  /* margin-top: 10px; */
}

@media screen and (max-width: 800px) {
  .navbar-wrapper{
    position: absolute;
    z-index: 1;
    transition: 0.3s ease-in-out;
    left: -100%;
    width: 100%;
  }
  .profile-wrapper {
    margin-top: 80px;
  }

  .profile-wrapper p {
    font-size: 25px;
  }

  .profile-links button {
    font-size: 16px;
  }

  .main-links button {
    height: 70px;
    font-size: 25px;
  }
}